{% extends 'listings/base.html' %}
{% block content %}
        <h1>Hello Django !</h1>
        <!-- <p>Mes groupes preferes sont: </p> -->
        <ul>
            {% for band in bands %}
           <li>
               <a href="{% url 'band-detail' band.id %}">{{band.name | upper}}</a>
               - <a href="{% url 'update-band' band.id %}">[modifier]</a>
           </li> 

            {% endfor %}
        </ul>   

        <a href="{% url 'band-create' %}"> Ajouter un Groupe</a>
{% endblock %}
        
        
   